.container {
    display: flex;
    justify-content: center;

    height: 100%;
    width: 100%;
    position: absolute;

    background: rgba(3, 3, 3, 0.5);
    top: 0;
}

.modal {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;

    width: 30em;
    margin-top: 10em;
    padding-top: 2em;
    height: 35em;
    border-radius: 8px;
    background: #ffffff;

    position: fixed;
}

.modal_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    width: 100%;
    padding: 0;
}

.container_title {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 1em;

    margin: 2em 2.5em 0 2.5em;


}

.close {
    width: 2.3em;
    height: 2.3em;

    position: absolute;
    right: 1em;
    top: 1em;
    cursor: pointer;

}

.product_img {
    width: 16em;
    height: auto;
    max-height: 20em;

    border-radius: 8px;

}

.container_buy {
    display: flex;
    align-items: center;
    gap: 2em;

    margin-top: 3em;

    h3 {

        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: rgb(0, 174, 255);

    }
}