.container_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    max-height: 100vh;


    background-color: blueviolet;

    h2 {
        margin-left: 4em;
        font-weight: 700;
        font-size: 22px;
        line-height: 26px;
        color: rgb(0, 174, 255);
    }
}

.container_cart {
    background-color: aquamarine;
    height: 100%;
    width: 100vw;
}